*{
    -webkit
    -moz
    -ms
    font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
    /*box-sizing: border-box;
    outline: 1px solid red !important;*/
}

/*Login styling starts*/

body::-webkit-scrollbar{
    display: none;
}

#login{
    width: 100vw;
    height: 100vh;
    background-image: url('background_image3.png');
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#vision{
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#visionText{
    padding : 18%;
    text-align: center;
}

#footer{
    width: 100vw;
    height: 10vh;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2%;
    position: absolute;
}

#companyName{
    width: 100vw;
    height: 45vh;
    display: table-cell;
    vertical-align: bottom;
    font-size: 8vw;
    text-align: center;
    color: white;
}

#signInButton{
    width: 100vw;
    height: 40vh;
    width: 100vw;
    text-align: center;
    padding: 1%;
}

#tagLine{
    text-align: center;
    font-size: 2vw;
    color: #ADD8E6;
    text-shadow: #000 0px 0px 1px;
}

#loaderImage{
    width:6vw;
    height:11vh;
}

#loaderIcon{
    width: 100vw;
    text-align: center;
    padding: 1%;
}
/*Login styling ends*/

/*MyAccount styling starts*/
#myaccount{
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:100vw;
    height:100vh;
    /*background-size: 100vw 100;*/
    background-image: url("background_image2.jpg");
    background-repeat: no-repeat;
}

.logout{
    right: 0;
    position: absolute;
    margin: 1%;
}

.container{
    height: 100%;
}

#accountDetails{
    height: 100%;
    padding: 2%;
}

#profilePic{
    height: 100%;
}

#profilePic img{
    height:500px;
    float: right;
    padding-top: 30%;
}

#userDetails{
    height: 100%;
}

#userDetails form{
    padding-top: 40%;
    width: 50%;
}

@media screen and (max-width: 992px)
{
    #accountDetails{
        height: 100%;
        padding-left: 20%;
        padding-right: 20%;
    }

    #profilePic{
        height: 50%;
    }

    #profilePic img{
        height:250px;
        float: left;
        padding-top: 3%;
    }

    #userDetails{
        height: 50%;
    }

    #userDetails form{
        padding-top: 3%;
        width: 50%;
    }
}






