*{
    -webkit
    -moz
    -ms
    font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
    /*box-sizing: border-box;
    outline: 1px solid red !important;*/
}

body::-webkit-scrollbar{
    display: none;
}

#bootstrapOverridenNavBar{
  margin:0;
  background-color: #00a087;
}

#footer{
    width: 100vw;
    height: 50px;
    color: gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    /*position: relative;*/
}

#pageTitle{
    /*width: 100vw;
    height: 45vh;*/
    margin: 20px;
    padding: 2%;
    /*display: table-cell;*/
    vertical-align: bottom;
    font-size: 4vw;
    text-align: center;
    color: black;/*
    text-shadow: #000 3px 2px 2px;*/
}

#pageDescription{
    margin-bottom: 30px;
}

/*Login styling starts*/

#login{
    width: 100vw;
    height: 100vh;
    /*background-image: url('background_image3.png');*/
    background-image: url('background_image.jpg');
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#companyName{
    width: 100vw;
    height: 45vh;
    display: table-cell;
    vertical-align: bottom;
    font-size: 8vw;
    text-align: center;
    /*color: #524E4E;*/
    /*color: white;*/
    /*text-shadow: #000 3px 2px 2px;*/
}

#tagLine{
    text-align: center;
    font-size: 2vw;
    color: #ADD8E6;
    text-shadow: #000 3px 2px 2px;
}

#signInButton{
    text-align: center;
    padding: 1%;
}

#vision{
    width: 100vw;
    /*background-color: #DDE1E2;*/
}

#visionText{
    padding: 18%;
    text-align: center;
    font-family: 'Poiret One';
}

#visionText h3{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#loaderImage{
    width:6vw;
    height:11vh;
}

#loaderIcon{
    width: 100vw;
    text-align: center;
    padding: 1%;
}
/*Login styling ends*/

/*MyAccount styling starts*/
#myaccount{

    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:100vw;
    /*height:100vh;*/
    /*background-size: 100vw 100vh;*/
    background-image: url("background_image2.png");
    background-repeat: no-repeat;
}

#accountDetails{
    height: 100%;
    padding: 2%;
}

#accountDetails h1{
    /*width: 100vw;
    height: 45vh;*/
    margin-top: 51px;
    margin-bottom: 10px;
    /*display: table-cell;*/
    vertical-align: bottom;
    font-size: 4vw;
    text-align: center;
    color: white;
    text-shadow: #000 3px 2px 2px;
}

#profilePic{
    height: 100%;
}

#profilePic img{
    height:300px;
    float: right;
    padding-top: 15%;
}

#userDetails{
    height: 100%;
}

#userDetails form{
    padding-top: 17%;
    width: 50%;
}

#otherUserDetails input{
    width: 40%;
}

@media screen and (max-width: 992px)
{
    #accountDetails{
        height: 100%;
        padding-left: 20%;
        padding-right: 20%;
    }

    #profilePic{
        height: 50%;
    }

    #profilePic img{
        height:250px;
        float: left;
        padding-top: 3%;
    }

    #userDetails{
        height: 50%;
    }

    #userDetails form{
        padding-top: 3%;
        width: 50%;
    }
}

/*MyAccount styling ends*/

/*Course styling starts*/

#memoryTitle{
    /*width: 100vw;
    height: 45vh;*/
    margin: 51px;
    padding: 2%;
    /*display: table-cell;*/
    vertical-align: bottom;
    font-size: 4vw;
    text-align: center;
    color: white;
    text-shadow: #000 3px 2px 2px;
}

#memoryDescription{
    color: white;
    text-shadow: #000 3px 2px 2px;
}

#memoryVideos {

    margin-top: 5%;
    margin-bottom: 5%;
    /*margin-left: 27%;*/
    align-items: center;
    align-content: center;
    -webkit-align-content: center;
}

.rowTop{
    margin-top: 5%;
}

.iframeLeft{
    width:300px;
    height:200px;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.iframeRight{
    width:300px;
    height:200px;
    margin-left: 5%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    float: right;
}

.rowBottom{
    margin-bottom: 5%;
}

/*Course styling ends*/

/*21 days worksop styling begins*/

#memoryWorkshopTitle{
    /*width: 100vw;
    height: 45vh;*/
    margin: 51px;
    padding: 2%;
    /*display: table-cell;*/
    vertical-align: bottom;
    font-size: 4vw;
    text-align: center;
}

#memoryworkshop{
    padding-left:20%;
    padding-right:20%;
}

#memoryworkshop .row{
    margin:3px;
}

#memoryWorkshopDay{
    height: 200px;
    padding:10px;
}

#memoryWorkshopDay h2{
    margin-top: 30%;
    margin-left: 30%;
}
#memoryWorkshopDay img{
    margin-left: 45%;
}

/*21 days worksop styling ends*/

/*webinars styling beings*/

#webinars{
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    border: 20px solid #8B480B;
}

#webinarTitle{
    /*width: 100vw;
    height: 45vh;*/
    margin: 51px;
    padding: 2%;
    /*display: table-cell;*/
    vertical-align: bottom;
    font-size: 4vw;
    text-align: center;
}

#webinars h2{
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}

#webinar{
    padding: 3%;
}

#webinar img{
    width: 200px;
    height: 200px;
}

/*webinars styling ends*/

