<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <!--JS files!-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!--CS files-->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!--Fonts-->
        <link href='https://fonts.googleapis.com/css?family=Raleway:700,600,500' rel='stylesheet' type='text/css'>
    </head>

<body id="faqsWallpaper">
<div>
    <div>
        <h1 id="FaqsTitle">Frequently Asked Questions</h1>
    </div>

    <div class="container">

        <span class="ques">1. I cannot login into the website sometimes. Why does this happen?</span><br>
        <p class="ans">A. Please use Google Chrome as your web browser as much as possible. Also, the server can be slow sometimes. Email us when you cannot login at support@cocatalyst.in and we will find out the solution and fix it.</p><br>

        <span class="ques">2. When are new photographic memory videos coming?</span><br>
        <p class="ans">A. We email you everytime we release new videos. So, please keep checking your emails regularly.</p><br>

        <span class="ques">3. When is the next webinar?</span><br>
        <p class="ans">A. We try to hold webinars every Sunday. We also send emails regarding the date and timings of the webinar. In case, we are delayed, we also send emails confirming the delay. So, please keep a tab of your emails.</p><br>

        <span class="ques">4. What if I miss a webinar?</span><br>
        <p class="ans">A. Do not worry at all if you miss a webinar because we save our webinars in the webinar library <a href="/webinars" target="_blank">here</a>. You can watch them whenever you want.</p><br>

        <span class="ques">5. I do not have a computer/internet at home. How do I access the website and watch videos?</span><br>
        <p class="ans">A. Do not worry at all. All you need is a smartphone and internet access on the smartphone. You can download the google chrome app from the google playstore on your phone. High chances are you might already have google chrome in your phone. So, just open it up and visit www.cocatalyst.in on your phone. Our website works perfectly on desktop, tablets and phones. So, cheers! :)</p><br>

        <span class="ques">6. When is the next photographic memory session happening in our school?</span><br>
        <p class="ans">A. We keep organizing photographic memory sessions every year in your school. Please join it when it happens because it is very difficult for us to organize the session more than once in a year. In case you miss it and want to participate or if you want to participate again anyway, the next session can be organized as soon as we get a good strength of students wanting to participate. We are in constant touch with the school. So, do not worry. Keep your class teacher and possibly principal informed and we will organize another session soon. :)</p><br>

        <span class="ques">7. How do I contact you if I have any doubts or face any technical issues?</span><br>
        <p class="ans">A. Please email us your doubts at support@cocatalyst.in. We will fix them and reply you as soon as possible.</p><br>

        <span class="ques"></span><br>
        <p class="ans"></p><br>

    </div>

    <br><br><br><br>

    <script type="text/javascript" src="static/common.js"></script>
</div>
</body>
</html>
