<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <title>EmpowerK12</title>
    </head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/login">Empower K-12</a>
                <!-- <a class="navbar-brand" href="#">
                    <img src="http://placehold.it/150x50&text=Logo" alt="">
                </a> -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
            <li><a href="/courses">Courses</a></li>
            <li><a href="/myaccount">My Account</a></li>
            <li><a href="/gdisconnect">Logout</a></li>
          </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div style="background-image: url('static/memoryworkshop.jpg'); width: 100vw; background-color: black;">
    <div id="memoryWorkshopTitle" style="color: white">
        <h1>The 21-Day Memory Workshop</h1>
    </div>

    <div class="container lead" id="pageDescription" style="color: white">
        <p>Welcome to the 21-Day Memory Workshop.We present you an expertly crafted workshop which is spread in only 21 days to hone your photographic memory skills. Each day you will learn a new concept, practise on it and unlock the next day's material. Don't worry, you only need to spend less than an hour everyday to master the particular skill. So, are you ready for some magic?</p>
    </div>

    <div id="memoryworkshop" class="container">
        <div class="row">
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #FF0000;">
                <h2>Day 1</h2>
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #E5E4E2;">
                <h2>Day 2</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #95B9C7;">
                <h2>Day 3</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
        </div>
        <div class="row">
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #E0FFFF;">
                <h2>Day 4</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #99C68E;">
                <h2>Day 5</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #FFFFCC;">
                <h2>Day 6</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
        </div>
        <div class="row">
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #AF9B60;">
                <h2>Day 7</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #F9966B;">
                <h2>Day 8</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #C5908E;">
                <h2>Day 9</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
        </div>
        <div class="row">
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #FCDFFF;">
                <h2>Day 10</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #FDEEF4;">
                <h2>Day 11</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #E9CFEC;">
                <h2>Day 12</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
        </div>
        <div class="row">
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #7DFDFE;">
                <h2>Day 13</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #EBF4FA;">
                <h2>Day 14</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #B6B6B4;">
                <h2>Day 15</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
        </div>
        <div class="row">
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #87AFC7;">
                <h2>Day 16</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #99C68E;">
                <h2>Day 17</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #F5F5DC;">
                <h2>Day 18</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
        </div>
        <div class="row">
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #FDD7E4;">
                <h2>Day 19</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #E3E4FA;">
                <h2>Day 20</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
            <div id="memoryWorkshopDay" class="col-md-4" style="background-color: #FFDFDD;">
                <h2>Day 21</h2>
                <img src="static/memorylock.png" width="20px" height="20px">
            </div>
        </div>
    </div>

    <br><br><br><br>

</div>

    <div id="footer">
      Contact us : info@empowerk12.com
    </div>

</body>
</html>
