<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <title>EmpowerK12</title>
    </head>

<body style="background-image: url('static/memory2.jpg');">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/login">Empower K-12</a>
                <!-- <a class="navbar-brand" href="#">
                    <img src="http://placehold.it/150x50&text=Logo" alt="">
                </a> -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
            <li><a href="/courses">Courses</a></li>
            <li><a href="/myaccount">My Account</a></li>
            <li><a href="/gdisconnect">Logout</a></li>
          </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div style="background-image: url('static/memory.jpg'); background-repeat: no-repeat; height:400px">
        <div id="memoryTitle">
            <h1>Photographic Memory Course</h1>
        </div>
        <div class="container lead" id="memoryDescription">
            <p>There are many times when your memory fails you. And most of those crucial moments make up a student's life. Be it written exams or a poem recitation, be it learning the seemingly impossible to retain history dates or be it all the names of your body organs, you need a good memory. But what if you could improve your results with some memoriztion techniques and surprise your peers? Empower K-12 presents you the memory enhancement course.</p>
        </div>
    </div>

    <!-- <div id="memoryVideos" class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLaGkcEAhgIRspbFQJHXX-og0wCkeUSNvc" frameborder="0" allowfullscreen></iframe>

        <br>

        <a class="btn btn-default" href="../static/amy.pdf" download>Download pdf</a>
    </div> -->

    <div id="memoryVideos" class="container">
        <h2>How to memorize....</h2>
        <hr>
        <div class="row" >
            <div class="courseImg col-md-3" ><iframe id="player" type="text/html" allowfullscreen="allowfullscreen" width="250" height="150" src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com" frameborder="0"></iframe></div>
            <div class="coursecontent col-md-8"><h3>1. Random Objects/Items</h3></div>
            <div class="lock col-md-1 row"><a href="static/amy.pdf" download="Random Objects/Items Test.pdf" class="col btn btn-default">Take Test</a></div>
        </div>
        <hr>
        <div class="row" >
            <div class="courseImg col-md-3" ><img src="static/video-sample.jpg" width="250px" height="150px"></div>
            <div class="coursecontent col-md-8"><h3>1. Random Objects/Items</h3></div>
            <div class="lock col-md-1 row"><a class="col btn btn-default">Take Test</a></div>
        </div>
        <hr>
        <div class="row">
            <div class="courseImg col-md-3" ><img src="static/video-sample.jpg" width="250px" height="150px"></div>
            <div class="coursecontent col-md-8"><h3>2. Random Words</h3></div>
            <div class="lock col-md-1 row"><a class="col btn btn-default">Take Test</a></div>
        </div>
        <hr>
        <div class="row">
            <div class="courseImg col-md-3" ><img src="static/video-sample.jpg" width="250px" height="150px"></div>
            <div class="coursecontent col-md-8"><h3>3. Vocabulary</h3></div>
            <div class="lock col-md-1 row"><a class="col btn btn-default">Take Test</a></div>
        </div>
        <hr>
        <div class="row">
            <div class="courseImg col-md-3" ><img src="static/video-sample.jpg" width="250px" height="150px"></div>
            <div class="coursecontent col-md-8"><h3>4. Dates</h3></div>
            <div class="lock col-md-1 row"><a class="col btn btn-default">Take Test</a></div>
        </div>
        <hr>
        <div class="row">
            <div class="courseImg col-md-3" ><img src="static/video-sample.jpg" width="250px" height="150px"></div>
            <div class="coursecontent col-md-8"><h3>5. Short Answers</h3></div>
            <div class="lock col-md-1 row"><a class="col btn btn-default">Take Test</a></div>
        </div>
        <hr>
        <div class="row">
            <div class="courseImg col-md-3" ><img src="static/video-sample.jpg" width="250px" height="150px"></div>
            <div class="coursecontent col-md-8"><h3>6. Long Answers</h3></div>
            <div class="lock col-md-1 row"><a class="col btn btn-default">Take Test</a></div>
        </div>
        <hr>
        <div class="row">
            <div class="courseImg col-md-3" ><img src="static/video-sample.jpg" width="250px" height="150px"></div>
            <div class="coursecontent col-md-8"><h3>7. Keywords</h3></div>
            <div class="lock col-md-1 row"><a class="col btn btn-default">Take Test</a></div>
        </div>
        <hr>
        <div class="row">
            <div class="courseImg col-md-3" ><img src="static/video-sample.jpg" width="250px" height="150px"></div>
            <div class="coursecontent col-md-8"><h3>8. English Literature</h3></div>
            <div class="lock col-md-1 row"><a class="col btn btn-default">Take Test</a></div>
        </div>
        <hr>
    </div>

    <div id="21days" class="container">
        <div>
            <h3 id="pageTitle"><a href="/memoryworkshop">The 21-Days Memory Workshop</a></h3>
            <p class="container lead" id="pageDescription">Have you already gone through our free set of videos? We hope your memory gears have been oiled enough to surprise your peers. But how about a free new amazing workshop as well? We present you an expertly crafted workshop which is spread in only 21 days to hone your photographic memory skills. Each day you will learn a new concept, practise on it and unlock the next day's material. Don't worry, you only need to spend less than an hour everyday to master the particular skill. So, are you ready for some magic?</p>
        </div>
    </div>

    <br><br><br><br>

    <div id="footer">
      Contact us : info@empowerk12.com
    </div>

    <script type="text/javascript">
        $('iframe').on('click',function(event){
            console.log("video clicked");
            $(".video").css('width','1000');
        });
    </script>

</body>
</html>
