<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <!--JS files!-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--CS files-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="memoryBackgroundWallpaper">
    <div id="memoryCoverPic">
        <div id="memoryTitle">
            <h1>Photographic Memory Course</h1>
        </div>
        <div class="container lead" id="memoryDescription">
            <p>There are many times when your memory fails you. And most of those crucial moments make up a student's life. Be it writing a science exam or reciting a long difficult poem, learning too many history dates or memorizing all the names of your body organs, you need a good memory. But what if you could improve your results with some memorization techniques and surprise your peers? We present you the photographic memory course.</p>
        </div>
    </div>

    <br><br><br>

    <div class="container lead" id="memoryNote">
        <p>NOTE 1 : Hey guys!! Did you like the memory workshop conducted at your school by Vivek sir? We are sure you did. Well how about you write to us about your experience of the Photographic Memory Workshop? You can write your experience in around 100 words and email it to us at contact@cocatalyst.in. We will showcase your experience on our offical blog. Do not forget to attach a nice picture of yours in the email. Cheers. :)</p>
    </div>

    <!-- <br><br>

    <div "container">

        <div class="lock col-md-1 row" style="width: 100%; text-align: center;">
            <a href="/certificate" class="col btn btn-default" target="_blank">
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    Yay! Here is your certificate!
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
            </a>
        </div>
    </div> -->

    <br><br><br>

    <div id="memoryVideos" class="container">
    <h2>PMC Library</h2>
        <hr>
        <br>
        <div class="row">

            <div class="col-lg-6 col-lg-push-3 container" id="videoPlayer">
                <iframe id="vzvd-7300904" name="vzvd-7300904" title="vzaar video player" class="vzaar-video-player" type="text/html" width="550" height="310" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/7300904/player"></iframe>
                <!-- <h3 class="lead" style="color: white;">Hola! The videos will be activated after the webinar. Hope you are ready for it. Click <a href="/webinars">here</a> to join the webinar.</h3> -->
            </div>


            <div class="scrollbar col-lg-3 col-lg-pull-6" id="memoryVideosScroll">
                    <div class="memoryVT first" id="tmiv" style="background-color:#302F2E">
                        <div class="memoryVideo" ><img src="static/video-sample.jpg" width="130px" height="80px"></div>
                        <div class="videoTitle">1. The Most Important Video</div>
                    </div>
                    <br>
                    <div class="memoryVT" id="basics">
                        <div class="memoryVideo" ><img src="static/video-sample.jpg" width="130px" height="80px"></div>
                        <div class="videoTitle">2. Basics</div>
                    </div>
                    <br>
                    <div class="memoryVT" id="chaining">
                        <div class="memoryVideo" ><img src="static/video-sample.jpg" width="130px" height="80px"></div>
                        <div class="videoTitle">3. Chaining</div>
                    </div>
                    <br>
                    <div class="memoryVT" id="cwp1">
                        <div class="memoryVideo" ><img src="static/video-sample.jpg" width="130px" height="80px"></div>
                        <div class="videoTitle">4. Converting Words to Pictures I</div>
                    </div>
                    <br>
                    <div class="memoryVT" id="cwp2">
                        <div class="memoryVideo" ><img src="static/video-sample.jpg" width="130px" height="80px"></div>
                        <div class="videoTitle">5. Converting Words to Pictures II</div>
                    </div>
                    <br>
            </div>


            <div class="col-lg-3" id="quotes">
                <h3>Quote of the Day:</h3>
                <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Albert_Einstein_Head.jpg"> -->
                <p><q>Rather than love, than money, than fame, give me truth.</q></p>
                <div id="quoter">-Henry David Thoreau</div>
            </div>

        </div>
        <hr>
    </div>

    <br><br>

    <div class="container lead" id="memoryNote">
        <p>NOTE 2 : A very important thing! We constantly keep generating and posting new amazing content just for you on our web platform. We make new videos and post them here, we come up with amazing webinars related to Photographic Memory Course and other courses, we keep posting new online/offline exams to test your progress and links to other incredible knowledge resources. Therefore, we highly advise you to keep checking this space regularly for new stuff. Let's grow awesome together! :D</p>
    </div>

    <br><br><br><br>

    <!-- <div id="21days" class="container">
    <h3>Coming Soon...</h3>
    <hr>
        <div>
            <h4 id="pageTitle">The 21-Days Memory Workshop</h4>
            <p class="container lead" id="pageDescription">Have you already gone through our free set of videos? We hope your memory gears have been oiled enough to surprise your peers. But how about a free new amazing workshop as well? We present you an expertly crafted workshop which is spread in only 21 days to hone your photographic memory skills. Each day you will learn a new concept, practise on it and unlock the next day's material. Don't worry, you only need to spend less than an hour everyday to master the particular skill. So, are you ready for some magic?</p>
        </div>
    </div> -->
</div>

<script type="text/javascript">

    var prevClickedVideo=".first";

    function setVideo(currentVideo,key)
    {
        $(prevClickedVideo).css("background-color","#222222");
        $(currentVideo).css("background-color","#302F2E");
        prevClickedVideo=currentVideo;
        $('iframe').attr(
            {
                "id":"vzvd-"+key,
                "name":"vzvd"+key,
                "src":"//view.vzaar.com/"+key+"/player"
            }
        );
    }

    $('#tmiv').on('click',function(event){
        var currentVideo = "#tmiv";
        var key = "7300904";
        setVideo(currentVideo,key);
    });

    $('#basics').on('click',function(event){
        var currentVideo = "#basics";
        var key = "7300924";
        setVideo(currentVideo,key);
    });

    $('#chaining').on('click',function(event){
        var currentVideo = "#chaining";
        var key = "7300932";
        setVideo(currentVideo,key);
    });

    $('#cwp1').on('click',function(event){
        var currentVideo = "#cwp1";
        var key = "7300957";
        setVideo(currentVideo,key);
    });

    $('#cwp2').on('click',function(event){
        var currentVideo = "#cwp2";
        var key = "7300974";
        setVideo(currentVideo,key);
    });


</script>

<script type="text/javascript" src="static/common.js"></script>

</body>
</html>
