<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="">
    </head>

    <body>
        <div class='logout'><a href="#">Logout</a></div>
        <div class='myaccount'><a href="/myaccount">My Account</a></div>
        <h1>Memory videos</h1>
        <!-- <iframe id="ytplayer" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com" frameborder="0"/> -->
    </body>
</html>
