<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    </head>

<body>

<div id="webinarsBackgroundWallpaper">

    <div id="webinarTitle">
        <h1>Webinars</h1>
    </div>

    <div class="container lead" id="webinarDescription">
        <p>Webinars are, well, online seminars. We keep holding webinars time to time so as to keep you aware of latest trends and shifts in fields not only related to our courses but other fields as well. Below you can find some upcoming seminars.</p>
    </div>

    <div class="container">
        <h3 style="color: white">Live Webinar starting at 11:00 AM, Sunday, May 15</h3>
        <hr>
    </div>

    <div id="liveWebinar" class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bLv9EzT1qzE" frameborder="0" allowfullscreen></iframe>
        <hr>
    </div>

    <div id="webinars" class="container" style="background-color: green">
        <h2>Upcoming Webinars</h2>
        <div class="row">
            <div id="webinar" class="col-md-3" ><img style="float: left;" src="static/postit1.png"></div>
            <div id="webinar" class="col-md-3" ><img style="float: left;" src="static/postit2.png"></div>
            <div id="webinar" class="col-md-6" ><img style="float: left;" src="static/postit3.png"></div>
        </div>
        <div class="row">
            <div id="webinar" class="col-md-6" ><img style="float: right;" src="static/postit4.png"></div>
            <div id="webinar" class="col-md-3" ><img style="float: right;" src="static/postit5.png"></div>
            <div id="webinar" class="col-md-3" ><img style="float: right;" src="static/postit6.png"></div>
        </div>
    </div>
    <br><br><br><br>

    <script type="text/javascript" src="static/common.js"></script>
</div>

</body>
</html>
